.title {
  background: rgb(121, 167, 242);
}
.card {
  margin-bottom: 20px;
}
.itemitem {
  text-align: center;
  color: #363636;
  & > span {
    display: block;
  }
  img {
    width: 83px;
    height: 83px;
    border: 2px solid #258df2;
    border-radius: 0 10px 0 10px;
  }
}
