
.title {
  background: rgb(242, 121, 184);
}

.main {
  overflow: hidden;
  clear: both;
}

.summoneritem {
  text-align: center;
  color: #363636;
  img{
    width: 83px;
    height: 83px;
    border: 3px solid #258DF2;
    border-radius:0 10px 0 10px ;
  }
}

.summoneritem-active {
  color: #00A383;
  text-align: center;
  img{
    width: 83px;
    height: 83px;
    border: 3px solid #00A383;
    border-radius:0 10px 0 10px ;
  }
}

.summoner_left {
  float: left;
  width: 43%;
  padding: 30px 20px 0px 16px;
  margin-right: 0;
  border-right: 1px solid #F0F0F0;
}

.summoner_right {
  float: left;
  width: 50%;
  padding-top: 30px;
  padding-left: 40px;
}

.summoner_desc {
  padding: 20px 0;
  line-height: 18px;
  color: #333;
  font-size: 14px;
}
