.freehero-item {
    border-radius: 5px;
    height: 69px;
    margin: 5px;
    width: 69px;
    transition: 0.4s ease-in-out;
}
.freehero-item-active {
    border-radius: 5px;
    height: 69px;
    margin: 5px;
    width: 224px;
    transition: 0.4s ease-in-out;
}